.contact {
  padding: 5rem 0;
  background: #faf7f2;
  text-align: center;
  margin-left:5rem;
    margin-right:5rem;
}

.contact-subtitle {
  margin: 1rem 0 3rem;
  font-size: 1.1rem;
  opacity: 0.8;
}



.contact-cards {
 .contact-card {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  text-decoration: none;
  color: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

}

.contact-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: "Gamja Flower", sans-serif;
}

body {
  background-color: #faf7f2;
  color: #2e2e2e;
  line-height: 1.6;
 
}

/* Banner */
.banner {
  background: #d97c5a;
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.9rem;

}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  background: #faf7f2;
  position: sticky;
  top: 0;
  margin-left:3rem;
  margin-right:3rem;
}

.logo {
  font-weight: 600;
  font-size: 1.2rem;
}
.logo a {
  text-decoration: none;
  color: inherit;        /* keeps same color */
  font-weight: inherit;
}

.logo a:hover {
  opacity: 0.8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #2e2e2e;
}

.nav-links a:hover {
  color: #d97c5a;
}


a {
  color: inherit;
  text-decoration: none;
}



/* Footer */
footer {
  text-align: center;
  padding: 2rem;
}



